body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: #38783f;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center them horizontally */
  justify-content: center;
}

button {
  background-color: #f0d63f;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  width: 150px;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #cdb52f;
}
