.main {
  width: 40rem;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 1rem;
  font-family: sans-serif;
}

.color-form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

select {
  padding: 1rem;
  border: 1px lightgray solid;
  border-radius: 10px;
  margin: 1rem;
  width: 100%;
}

/* input {
  padding: 1rem;

  border: 1px lightgray solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
} */

button {
  padding: 1rem;
  border: 1px lightgray solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

button:hover {
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}

button:active {
  background-color: rgb(215, 215, 215);
}

.colors-scheme {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.output {
  width: 100%;
  justify-items: center;
}

.color {
  /* border: 1px gray solid; */
  width: 100%;
  height: 20rem;
}
