body {
  margin: 30px;
  font-family: "Figtree", "Open Sans", sans-serif;
  min-width: 400px;
}

input {
  width: 95%;
  padding: 5px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: "Figtree", "Open Sans", sans-serif;
}

#save-btn {
  padding: 5px 30px;
  color: white;
  font-family: "Figtree", "Open Sans", sans-serif;
  background-color: rgb(17, 144, 255);
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

#save-btn:hover {
  background-color: rgb(30, 140, 236);
  cursor: pointer;
}

#save-btn:active {
  transform: scale(1.05);
}

#delete-btn {
  padding: 5px 30px;
  color: rgb(17, 144, 255);
  font-family: "Figtree", "Open Sans", sans-serif;
  background-color: white;
  border: 1.5px solid rgb(17, 144, 255);
  border-radius: 5px;
  margin-bottom: 5px;
}

#delete-btn:hover {
  background-color: rgb(182, 220, 253);
  cursor: pointer;
}

#delete-btn:active {
  transform: scale(1.05);
}

#outputLinks {
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
}

#outputLinks li {
  margin-bottom: 5px;
}

#outputLinks a {
  color: rgb(30, 140, 236);
}
